/* Design */
@font-face {
    font-family: "OpenSans";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src:
        local("OpenSans Regular"),
        url("resources/OpenSans-Regular-webfont.woff") format("woff");
}
@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    src:
        local("Manrope Semibold"),
        url("resources/manrope-semibold.woff") format("woff");
}
@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    src:
        local("Manrope Bold"),
        url("resources/manrope-bold.woff") format("woff");
}
:root {
    font-size: 1em;

    --color-bg-light: #e9edf5;
    --color-bg-neutral: rgba(212, 220, 232, 0.6);
    --color-bg-dark: #192a47;
    --color-text-base: #3c4e68;
    --color-text-dark: var(--color-bg-dark);
    --color-muted: var(--color-bg-neutral);
    --color-shadow: 220deg 60% 50%;
    --color-accent: hsl(var(--color-shadow));

    --shadow-border:
        0 0 2px hsl(var(--color-shadow) / 0.7),
        0 0 4px hsl(var(--color-shadow) / 0.333),
        0 0 6px hsl(var(--color-shadow) / 0.2);
    --shadow-medium:
        1px 2px 2px hsl(var(--color-shadow) / 0.333),
        2px 4px 4px hsl(var(--color-shadow) / 0.333),
        3px 6px 6px hsl(var(--color-shadow) / 0.333);
    --shadow-large:
        1px 2px 2px hsl(var(--color-shadow) / 0.2),
        2px 4px 4px hsl(var(--color-shadow) / 0.2),
        4px 8px 8px hsl(var(--color-shadow) / 0.2),
        8px 16px 16px hsl(var(--color-shadow) / 0.2),
        16px 32px 32px hsl(var(--color-shadow) / 0.2);

    --font-size-sm: clamp(0.9rem, 2vw, 1rem);
    --font-size-base: clamp(1rem, 2vw, 1.375rem);
    --font-size-md: clamp(1.25rem, 3vw, 1.7rem);
    --font-size-lg: clamp(1.75rem, 4vw, 2.15rem);
    --font-size-xl: clamp(2.15rem, 5vw, 3.45rem);

    --font-weight-normal: 400;
    --font-weight-medium: 600;
    --font-weight-bold: 700;

    --gutter: var(--space-sm);
    --space-sm: clamp(1rem, 0.92rem + 0.39vw, 1.52rem);
    --space-md: clamp(1.5rem, 1.38rem + 0.58vw, 1.875rem);
    --space-lg: clamp(2rem, 1.84rem + 0.78vw, 4.75rem);
    --space-xl: clamp(2.5rem, 2.38rem + 0.98vw, 6.75rem);
    --space-2xl: clamp(2rem, 1.07rem + 4.66vw, 5rem);

    --radius-sm: 0.25rem;
    --radius-md: 0.45rem;
    --radius-lg: 0.75rem;

    --transition-smooth: all 0.3s ease;
}
/* Hero */
.hero {
    padding-block: var(--space-2xl);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--space-md);
}
@keyframes intro {
    0% {
        transform: translate(0px, 20px);
        opacity: 0;
    }
}
.hero h1,
h4 {
    margin-block-start: var(--space-sm);
    animation: intro 1s ease;
}
.hero h4 {
    max-inline-size: 55ch; /* ==> affects about hero h4 only */
}
/* Smaller Grid */
.content-group {
    padding-block-end: var(--space-2xl);
}
.block-small {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(clamp(11.75rem, 40vw, 18.75rem), 1fr)
    );
    gap: var(--space-md);
    margin-block-start: var(--space-sm);
}
.card {
    padding: var(--space-sm);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-border);
    transition: var(--transition-smooth);
}
.card:hover {
    box-shadow: var(--shadow-large);
}
.card p {
    color: var(--color-text-base);
}
.card .text-small {
    font-size: var(--font-size-sm);
    margin: 0;
}
.card h3 {
    margin-block-start: 0.6rem;
}
/* Contacts */
.content-block-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--space-lg);
    padding: var(--space-lg);
    margin-block-end: var(--space-md);
}
.content-block-centered > * {
    margin-block-start: 0;
    max-inline-size: 50ch;
    text-align: center;
}
.content-block-centered h2 {
    margin-block-start: 1em;
}
.content-block-centered p {
    color: var(--color-text-base);
}
.primary-button {
    background-color: var(--color-bg-dark);
    color: var(--color-bg-light);
    padding: 0.75em 1.75em;
    border-radius: var(--radius-lg);
    transition: var(--transition-smooth);
}
.primary-button:hover {
    background-color: var(--color-bg-light);
    color: var(--color-bg-dark);
    box-shadow: var(--shadow-medium);
}
/* Larger Grid */
.block-md {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(clamp(12rem, 40vw, 26rem), 1fr)
    );
    grid-gap: var(--space-sm) var(--space-lg);
}
#highlight {
    background-color: var(--color-bg-neutral);
    border-radius: var(--radius-lg);
    padding: var(--space-lg);
}
.card-md {
    margin-inline: auto;
}
figcaption {
    font-size: var(--font-size-sm);
    margin-block-start: var(--space-sm);
}
.card-md h2 {
    margin-block-start: 0.6rem;
}
.card-md-a {
    color: var(--color-accent);
}
.tertiary-button {
    font-size: var(--font-size-md);
    font-family: "Manrope", serif, sans-serif;
    font-weight: var(--font-weight-bold);
    display: inline-block;
    padding-block-start: var(--space-md);
    transition: var(--transition-smooth);
}
.tertiary-button:hover {
    color: var(--color-accent);
}
.cta-arrow {
    color: var(--color-accent);
}
/* About - Carousel */
.flex-carousel {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    max-inline-size: 100%;
    /* redundant by flex child */
    padding: 0.5rem 0 1rem 0;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.carousel-item {
    flex-grow: 1;
    /* flex-grow 1 is needed due to flex-basis 0% */
    flex-basis: 0%;
    /* flex-shrink: 1 or 0 is overwritten by min-width: min() */
    min-inline-size: min(17.5rem, 100%);
    /* Minimum width before horizontal scroll kicks in at 17.5rem */
    scroll-snap-align: start;
}
.carousel-item figure {
    margin: 0;
}
.carousel-item .image-container {
    border-radius: var(--radius-lg);
    overflow: hidden;
    inline-size: 100%;
    /* redundant */
    aspect-ratio: 1/1;
}
.carousel-item img {
    transition: var(--transition-smooth);
    inline-size: 100%;
    height: 100%;
    object-fit: fill;
}
.carousel-item:hover img {
    transform: scale(1.1);
}
/* About - Work - Large Grid  */
.group-title {
    margin-block-end: var(--space-lg);
    text-align: center;
}
.a-link {
    color: var(--color-accent);
}
.a-link:hover {
    text-decoration: underline;
}
.list-alt > * {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.6rem;
}
.list-alt .aside {
    font-weight: var(--font-weight-medium);
    flex: 0 0 4rem;
}
.list-alt .main {
    flex: 1 1 0;
    min-inline-size: min(17.5rem, 100%);
}
.list-alt {
    margin-block: revert;
}
.list-alt li {
    margin-block-end: 1rem;
}
.list-alt p {
    margin-block-start: 0;
}
/* About - What I'm reading - Large Grid  */
.img-large-grid {
    width: 50%;
    margin: 0 auto;
    aspect-ratio: revert;
}
.img-large-grid-caption {
    text-align: center;
}
/* Blogs */
.margin-sm {
    padding-block-end: var(--space-sm);
}
.text-small {
    margin-block-start: 0;
    font-size: var(--font-size-sm);
}
.excerpt {
    text-wrap: balance;
}
.post a {
    color: var(--color-accent);
}
.post a:hover {
    text-decoration: underline;
}
.entry {
    display: flex;
    flex-direction: column;
    max-inline-size: 36em;
    margin-inline: auto;
}
.entry em {
    font-size: var(--font-size-sm);
}
.entry blockquote {
    font-family: "Manrope";
    font-weight: 600;
    margin: 1.8em 0.8em;
    border-left: 0.2rem dotted var(--color-accent);
    padding: 0.1em 1em;
    color: var(--color-bg-dark);
    font-size: var(--font-size-md);
    font-style: italic;
}
.entry li {
    list-style: revert;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: var(--color-bg-neutral);
    width: 100%;
    margin: 0;
    padding: 0.6em;
    border-radius: var(--radius-lg);
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: var(--color-bg-neutral); /* New light cyan background */
}
